// кольори для фона
$main-color: #84a178;
$second-background-color: #ffffff;
$yellow-background: #efd478;

// помаранчевий колір для тексту та бекграунда
$stained-color: #d6936d;

// кольори для тексту
$text-main-color: #fcfcfc;
$text-second-color: #131313;
$text-time-color: #ababab;

// для анімації кубік
$cubic-bezier: cubic-bezier(0.4, 0, 0.2, 1);
