// кольори для фона
$main-color: #84a178;
$second-background-color: #ffffff;
$yellow-background: #efd478;

// помаранчевий колір для тексту та бекграунда
$stained-color: #d6936d;

// кольори для тексту
$text-main-color: #fcfcfc;
$text-second-color: #131313;

$text-time-color: #ABABAB;
$text-hover: #F8D24E;
$text-time-color: #ababab;

// Колір для кнопок та акцентів
$accent-color: #F8D24E;
$hover-color: #0A8817;
$disabled-color: #ABABAB;

// для анімації кубік
$cubic-bezier: cubic-bezier(0.4, 0, 0.2, 1);
