<div class="backdrop is-location-hidden" data-location-modal>
  <div class="contacts__modal-location">
    <button type="button" class="modal__close-btn">
      <svg class="icon-close" width="12" height="12" data-location-close>
        <use href="./images/sprite.svg#icon-close"></use>
      </svg>
    </button>
    <form class="modalform">
      <h2 class="modalform__title">Our Locations</h2>
      <iframe
        class="modalform__map--link"
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d165489.7099705025!2d34.41715582800018!3d49.60195993006719!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d825e425e6ba6b%3A0xcf3e6bdfb9e4ca82!2z0J_QvtC70YLQsNCy0LAsINCf0L7Qu9GC0LDQstGB0LrQsNGPINC-0LHQu9Cw0YHRgtGMLCAzNjAwMA!5e0!3m2!1sru!2sua!4v1662326702446!5m2!1sru!2sua"
        width="224"
        height="199"
        style="border: 0"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
        rel="noreferrer noopener"
      ></iframe>
      <a
        href="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d165489.7099705025!2d34.41715582800018!3d49.60195993006719!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d825e425e6ba6b%3A0xcf3e6bdfb9e4ca82!2z0J_QvtC70YLQsNCy0LAsINCf0L7Qu9GC0LDQstGB0LrQsNGPINC-0LHQu9Cw0YHRgtGMLCAzNjAwMA!5e0!3m2!1sru!2sua!4v1662326702446!5m2!1sru!2sua"
        target="_blank"
        type="button"
        class="modal__map-open contacts__btn--location btn"
        rel="noreferrer noopener"
        >Open map
      </a>
    </form>
  </div>
</div>
