<section class="about section">
    <div class="container">
        <p class="subtitle about__subtitle">
            Tradition and love
        </p>
        <h1 class="title about__title">
            How its made?
        </h1>
        <div class="about__flex-container">
            <img class="about__image" src="" alt="A cow on a field">
            <div class="about__text">
                <p>Ice is a place where you will become not only a little happier, but also healthier. Health is the
                    main
                    value for us, and
                    we follow it when creating our handmade desserts.</p>
                <p>We use traditional recipes and 100% natural ingredients. Our products are so natural that they can be
                    given to children
                    from the age of three years. Sweets lovers can expect 55 types of ice cream, 15 types of coffee and
                    23
                    milkshakes.
                </p>
            </div>
        </div>
        <a href="" class="about__button">Read more</a>
    </div>
</section>