<section class="section__contacts">
  <div class="container">
    <h2 class="visually-hidden">Contacts</h2>
    <ul class="contacts__menu">
      <li class="contacts-items">
        <span class="contacts__title">CAFE</span>
        <address class="contacts__address-map">
          <p class="contacts__place">Chicago</p>
          <a
            class="contacts__link--map"
            href="https://goo.gl/maps/o5qXJZGsHrce23mj7"
            rel="noreferrer noopener"
            >10340 Ridgeland Ave, Chicago Ridge, IL 60415, USA</a
          >
        </address>
        <div class="contacts__line"></div>
        <ul class="contacts--work-days">
          <li class="contacts__days">Monday - Friday</li>
          <li class="contacts--work-time">06:00 AM - 10:00 PM</li>
          <li class="contacts__empty-line">&nbsp</li>
          <li class="contacts__days">Saturday - Sunday</li>
          <li class="contacts--work-time">08:00 AM - 16:00 PM</li>
        </ul>
        <div class="contacts__line"></div>
        <div class="contacts__address-contact">
          <a class="contacts__link--phone" href="tel:+610383766284"
            >+61(0) 383 766 284</a
          >
          <a class="contacts__link--mail" href="mailto:noreply@envato.com"
            >noreply@envato.com</a
          >
        </div>
      </li>
      <li class="contacts-items">
        <span class="contacts__title">FOOD TRUCK</span>
        <address class="contacts__address-map">
          <p class="contacts__place">Los Angeles</p>
          <a
            class="contacts__link--map"
            href="https://goo.gl/maps/Z8RWd4uUFu7DK5Pg9"
            rel="noreferrer noopener"
            >1003 Manhattan Ave, Manhattan Beach, CA 90263, USA</a
          >
        </address>
        <div class="contacts__line"></div>
        <ul class="contacts--work-days">
          <li class="contacts__days">Monday - Friday</li>
          <li class="contacts--work-time">06:00 AM - 10:00 PM</li>
          <li class="contacts__empty-line">&nbsp</li>
          <li class="contacts__days">Saturday - Sunday</li>
          <li class="contacts--work-time">08:00 AM - 16:00 PM</li>
        </ul>
        <div class="contacts__line"></div>
        <div class="contacts__address-contact">
          <a class="contacts__link--phone" href="tel:+610383766284"
            >+61(0) 383 766 284</a
          >
          <a class="contacts__link--mail" href="mailto:noreply@envato.com"
            >noreply@envato.com</a
          >
        </div>
      </li>
      <li class="contacts-items">
        <span class="contacts__title">CAFE</span>
        <address class="contacts__address-map">
          <p class="contacts__place">New York</p>
          <a
            class="contacts__link--map"
            href="https://goo.gl/maps/r8rmzKpFwv6BZEds6"
            rel="noreferrer noopener"
            >726 Sterling Pl, Brooklyn, NY 11222, USA</a
          >
        </address>
        <div class="contacts__line"></div>
        <ul class="contacts--work-days">
          <li class="contacts__days">Monday - Friday</li>
          <li class="contacts--work-time">06:00 AM - 10:00 PM</li>
          <li class="contacts__empty-line">&nbsp</li>
          <li class="contacts__days">Saturday - Sunday</li>
          <li class="contacts--work-time">08:00 AM - 16:00 PM</li>
        </ul>
        <div class="contacts__line"></div>
        <div class="contacts__address-contact">
          <a class="contacts__link--phone" href="tel:+610383766284"
            >+61(0) 383 766 284</a
          >
          <a class="contacts__link--mail" href="mailto:noreply@envato.com"
            >noreply@envato.com</a
          >
        </div>
      </li>
    </ul>
    <div class="buttons">
      <button
        type="button"
        class="btn btn-fill contacts__btn--location"
        data-location-open
      >
        Our Locations
      </button>
      <button
        type="button"
        class="btn-border contacts__btn--franchise"
        data-franchise-open
      >
        Franchise
      </button>
    </div>
  </div>
</section>
