<section class="reviews">
  <h2 class="visually-hidden">Отзывы наших клиентов</h2>
  <div class="container">
    <div class="swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <img
            class="reviews__image"
            data-swiper-parallax="-900"
            data-swiper-parallax-opacity="0.1"
            data-swiper-parallax-scale="0.2"
            data-swiper-parallax-duration="1500"
            srcset="
              ./images/reviews/girlx1.jpg 1x,
              ./images/reviews/girlx2.jpg 2x
            "
            src="./images/reviews/girlx1.jpg"
            alt="Emily, Los Angeles"
          />
          <p
            class="reviews__text"
            data-swiper-parallax="-900"
            data-swiper-parallax-opacity="0.1"
            data-swiper-parallax-scale="0.2"
            data-swiper-parallax-duration="1500"
          >
            I love visiting your cafe. You prepare the most delicious ice cream
            in Los Angeles! In addition, you have beautiful serving, cozy
            atmosphere and polite staff.
          </p>
          <p
            class="reviews__contacts"
            data-swiper-parallax="-900"
            data-swiper-parallax-opacity="0.1"
            data-swiper-parallax-scale="0.2"
            data-swiper-parallax-duration="1500"
          >
            Emily, Los Angeles
          </p>
        </div>
        <div class="swiper-slide">
          <img
            class="reviews__image"
            data-swiper-parallax="-900"
            data-swiper-parallax-opacity="0.1"
            data-swiper-parallax-scale="0.2"
            data-swiper-parallax-duration="1500"
            srcset="
              ./images/reviews/girl2x1.jpg 1x,
              ./images/reviews/girl2x2.jpg 2x
            "
            src="./images/reviews/girl2x1.jpg"
            alt="Emily, Los Angeles"
          />
          <p
            class="reviews__text"
            data-swiper-parallax="-900"
            data-swiper-parallax-opacity="0.1"
            data-swiper-parallax-scale="0.2"
            data-swiper-parallax-duration="1500"
          >
            Ice cream is my passion! I love your chocolate hazelnut ice cream!
            And I really like the excellent service - always served politely and
            quickly!
          </p>
          <p
            class="reviews__contacts"
            data-swiper-parallax="-900"
            data-swiper-parallax-opacity="0.1"
            data-swiper-parallax-scale="0.2"
            data-swiper-parallax-duration="1500"
          >
            Diana, Chicago
          </p>
        </div>
        <div class="swiper-slide">
          <img
            class="reviews__image"
            data-swiper-parallax="-900"
            data-swiper-parallax-opacity="0.1"
            data-swiper-parallax-scale="0.2"
            data-swiper-parallax-duration="1500"
            srcset="
              ./images/reviews/manx1.jpg 1x,
              ./images/reviews/manx2.jpg 2x
            "
            src="./images/reviews/manx1.jpg"
            alt="Emily, Los Angeles"
          />
          <p
            class="reviews__text"
            data-swiper-parallax="-900"
            data-swiper-parallax-opacity="0.1"
            data-swiper-parallax-scale="0.2"
            data-swiper-parallax-duration="1500"
          >
            I love eating popsicles on a hot day. Yours is always delicious. I
            recommend your cafe to everyone I know.
          </p>
          <p
            class="reviews__contacts"
            data-swiper-parallax="-900"
            data-swiper-parallax-opacity="0.1"
            data-swiper-parallax-scale="0.2"
            data-swiper-parallax-duration="1500"
          >
            Sam, Los Angeles
          </p>
        </div>
      </div>
      <div class="reviews__bullet swiper-pagination"></div>
    </div>
  </div>
</section>
