<section class="reviews">
  <h2 class="visually-hidden">Отзывы наших клиентов</h2>
  <div class="container">
    <!-- Swiper -->

    <div class="swiper">
      <div class="swiper-wrapper">
        <!-- 1 slide -->

        <div class="swiper-slide">
          <img
            class="reviews__image"
            srcset="
              ./images/reviews/girlx1.jpg 1x,
              ./images/reviews/girlx2.jpg 2x
            "
            src="./images/reviews/girlx1.jpg"
            alt="Emily, Los Angeles"
          />
          <p class="reviews__text">
            I love visiting your cafe. You prepare the most delicious ice cream
            in Los Angeles! In addition, you have beautiful serving, cozy
            atmosphere and polite staff.
          </p>
          <p class="reviews__contacts">Emily, Los Angeles</p>
        </div>

        <!-- 2 slide -->

        <div class="swiper-slide">
          <img
            class="reviews__image"
            srcset="
              ./images/reviews/girlx1.jpg 1x,
              ./images/reviews/girlx2.jpg 2x
            "
            src="./images/reviews/girlx1.jpg"
            alt="Emily, Los Angeles"
          />
          <p class="reviews__text">
            I love visiting your cafe. You prepare the most delicious ice cream
            in Los Angeles! In addition, you have beautiful serving, cozy
            atmosphere and polite staff.
          </p>
          <p class="reviews__contacts">Emily, Los Angeles</p>
        </div>

        <!-- 3 slide -->

        <div class="swiper-slide">
          <img
            class="reviews__image"
            srcset="
              ./images/reviews/girlx1.jpg 1x,
              ./images/reviews/girlx2.jpg 2x
            "
            src="./images/reviews/girlx1.jpg"
            alt="Emily, Los Angeles"
          />
          <p class="reviews__text">
            I love visiting your cafe. You prepare the most delicious ice cream
            in Los Angeles! In addition, you have beautiful serving, cozy
            atmosphere and polite staff.
          </p>
          <p class="reviews__contacts">Emily, Los Angeles</p>
        </div>
      </div>

      <!-- Pagination -->
      <div class="reviews__bullet swiper-pagination"></div>
    </div>
  </div>
</section>
