<section class="reviews">
  <h2 class="visually-hidden">Отзывы наших клиентов</h2>
  <div class="container">
    <img
      class="reviews__image"
      srcset="./images/reviews/girlx1.jpg 1x, ./images/reviews/girlx2.jpg 2x"
      src="./images/reviews/girlx1.jpg"
      alt="Emily, Los Angeles"
    />
    <p class="reviews__text">
      I love visiting your cafe. You prepare the most delicious ice cream in Los
      Angeles! In addition, you have beautiful serving, cozy atmosphere and
      polite staff.
    </p>
    <p class="reviews__contacts">Emily, Los Angeles</p>
  </div>
</section>
