<footer class="footer">
    <div class="footer__section">

        <div class="footer__container container">
            <div class="footer-text blink-1">
                <p class="footer-text__first">
                    HOMEMADE ICE CREAM MADE
                </p>
                <p class="footer-text__second">
                    WITH PASSION
                </p>
            </div>
            <div class="footer-social-tel">
                <div class="social-footer">
                    <ul class="social-footer__list list">
                        <li class="social-footer__item item">
                            <a class="social-footer__link link" href="https://github.com/" 
                            target="_blank" rel="noopener noreferer">
                                <svg class="social-footer__icon">
                                    <use href="./images/sprite.svg#git">
                                    </use>
                                </svg>
                            </a>
                        </li>
                        <li class="social-footer__item item">
                            <a class="social-footer__link link" href="https://web.telegram.org" 
                            target="_blank" rel="noopener noreferer">
                                <svg class="social-footer__icon">
                                    <use href="./images/sprite.svg#telegram">
                                    </use>
                                </svg>
                            </a>
                        </li>
                        <li class="social-footer__item item">
                            <a class="social-footer__link link" href="https://www.facebook.com/"
                             target="_blank" rel="noopener noreferer">
                                <svg class="social-footer__icon">
                                    <use href="./images/sprite.svg#facebook">
                                    </use>
                                </svg>
                            </a>
                        </li>
                    
                    </ul>
                </div>
                <div class="footer-tel">
                    <a href="tel:+61(0)383766284" class="footer-tel__link link">
                        <span class="footer-tel__text">
                            Feel free to contact &nbsp;
                        </span> +61&nbsp;(0)&nbsp;383&nbsp;766&nbsp;284
                    </a>
                </div>
            </div>
            
        </div>
    </div>
    <div class="footer-copiright">
        <p class="footer-copiright__text">
            &copy;
            2022-IceCream. 
        </p>
        <p class="footer-copiright__text">
         &nbsp; All Rights Reserved.
        </p>
    </div>
</footer>