<footer>
    <!-- Fooooooooter
        moj footer, chto hochu to i delaju) -->
    <div class="conteiner">
        <p class="1">
            HOMEMADE ICE CREAM MADE
        </p>
        <p class="2">
            WITH PASSION
        </p>
        <ul class="list">
            <li class="list">
                <a href="" class="link"></a>
            </li>
            <li class="list"> 
                <a href="" class="link"></a>
            </li>
            <li class="li">
                <a href="" class="link"></a>
            </li>
        </ul>
        <a href="" class="3">
            <span class="5">
                Feel free to contact
            </span> +61(0)383766284
        </a>
        <p class="4">
            2022-IceCream.
            All Rights Reserved.
        </p>
    </div>
</footer>