<header>
  <div class="container page-header-container">
    <div class="header-container">

    <!-- навігація -->
    
      <a class="logo" href="./">
        <img src="./images/hero/logo.png" alt="Ice Cream">
      </a>

      <!-- кнопка "бургер" для мобільної і планшетної версії -->
      <button
        type="button"
        class="mobile-menu-open js-mobile-menu-open"
        aria-expanded="false"
        aria-controls="mobile-menu"
      >
        <svg class="mobile-menu-open__icon" width="20" height="20">
          <use href="./images/sprite.svg#icon-burger"></use>
        </svg>
      </button>
    </div>

      <!-- меню -->
      <div class="menu-container">
      <nav class="page-nav">
      <ul class="menu list">
        <li class="menu__item">
          <a class="menu__link link" href="#hero">Home</a>
        </li>
        <li class="menu__item">
          <a class="menu__link link" href="#how-made">How it's made?</a>
        </li>
        <li class="menu__item">
          <a class="menu__link link" href="#products">Our products</a>
        </li>
        <li class="menu__item">
          <a class="menu__link link" href="#contact">Contact</a>
        </li>
      </ul>
    </nav>
   
  </div>
    <!-- кнопка в хедері для десктопної і планшетної версії -->
    <button class="btn btn-fill" type="button"  data-buy-open>Buy now
      <svg class="about__arrow" width="12" height="12">
        <use href="./images/sprite.svg#icon-small-arrow-btn"></use>
      </svg>
    </button>
  </div>

  <!-- мобільне меню -->
  
  <div class="mobile-menu js-mobile-menu" id="mobile-menu">
    <button class="mobile-menu__close-btn js-mobile-menu__close-btn">
       <svg class="mobile-menu__close-icon" width="19" height="19">
        <use href="./images/sprite.svg#icon-close_40px"></use>
      </svg>
    </button>
    <div class="mobile-menu__container">
      <div class="mobile-header">
        <a class="logo_mobile-menu" href="./" >
          <img src="./images/logo.png" alt="Ice Cream">
        </a>
      </div>
    <nav class="mobile-nav-container"> 
      <ul class="mobile-menu__list list">
        <li class="mobile-menu__item">
          <a class="mobile-menu__link" href="#hero">Home</a>
        </li>
        <li class="mobile-menu__item">
          <a class="mobile-menu__link" href="#how-made">How it's made?</a>
        </li>
        <li class="mobile-menu__item">
          <a class="mobile-menu__link" href="#products">Our products</a>
        </li>
        <li class="mobile-menu__item">
          <a class="mobile-menu__link" href="#contact">Contact</a>
        </li>
      </ul>
    </nav>
      <button class="button-hero--mobile btn btn-fill" 
        type="button" data-buy-open>Buy now
        <svg class="about__arrow" width="12" height="12">
          <use href="./images/sprite.svg#icon-small-arrow-btn"></use>
        </svg>
      </button>
    </div>
  </div>  
</header>
<section class="hero">
  <div class="container hero-container">
    <!-- ліва сторона hero  -->
    <div class="hero-left-side">
      <h1 class="title" lang="en">
        <span class="title-small-fonts">ice cream made with </span
        ><span class="title-big-fonts">passion</span>
      </h1>

      <!-- посилання під title -->
      <ul class="title-btn__list list">
        <li class="title-btn__item">
          <button
            class="title-btn__link--left btn btn-border"
            type="button"
          >
            Products
          </button>
        </li>
        <li class="title-btn__item">
          <button
            class="btn btn-transparent"
            type="button"
          >
            How it's made?
          </button>
        </li>
      </ul>
      <div class="hero-description">
        <!-- текст на hero -->
        <div class="plate-ice">
          <div class="plate-ice__img"></div>
        </div>
        <div class="hero-description__block">
            <p class="hero-description__text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et
            </p>
            <!-- кнопка під текстом -->
            <button class="hero-description__btn">
            <svg class="hero-description__btn-icon" 
              width="40" 
              height="15">
              <use
                href="./images/products/product_sprite.svg#icon-Arrow-1"
              ></use>
            </svg>
            </button>
        </div>
      </div>
    </div>
    <!-- права сторона hero -->
    <div class="hero-right-side">
      <div class="face-img"></div>
      <div class="big-ice"></div>
      <ul class="network-list list">
          <li class="network-list__item">
            <p class="network-list__total">16</p>
            <p class="network-list__text">cafes</p>
          </li>
          <li class="network-list__item">
            <p class="network-list__total">23</p>
            <p class="network-list__text">food trucks</p>
          </li>
      </ul>
    </div>
  </div>
</section>
