<section class="section section__products">
  <div class="container">
    <p class="section__label">100% natural</p>
    <h2 class="section__title section__title--margin" id="products">
      products
    </h2>
    <div>
      <ul class="products">
        <li class="products__item products__item--icecream">
          <h3 class="products__title products__title--icecream">ice cream</h3>
          <p class="products__text">
            Soft ice cream with a delicate taste. Made with milk, cream, sugar
            and natural stabilizer
          </p>
          <button class="products-btn type=button" data-ingredients-open>
            <svg class="products-btn--arrow">
              <use href="images/products/product_sprite.svg#icon-Arrow-1"></use>
            </svg>
          </button>
        </li>
        <li class="products__item products__item--coffee">
          <h3 class="products__title products__title--coffee">ice coffee</h3>
          <p class="products__text">
            Fragrant invigorating drink created from 100% natural ingredients
            without the use of preservatives and flavor enhancers
          </p>
          <button class="products-btn type=button">
            <svg class="products-btn--arrow">
              <use href="images/products/product_sprite.svg#icon-Arrow-1"></use>
            </svg>
          </button>
        </li>
        <li class="products__item products__item--milkshake">
          <h3 class="products__title products__title--milkshake">milkshakes</h3>
          <p class="products__text">
            Sweet drinks based on milk and ice cream, supplemented with syrups,
            fruits, berries and other sweets of your choice
          </p>
          <button class="products-btn type=button">
            <svg class="products-btn--arrow">
              <use href="images/products/product_sprite.svg#icon-Arrow-1"></use>
            </svg>
          </button>
        </li>
      </ul>
    </div>
  </div>
</section>
