<section class="section">
  <div class="container">
    <p class="section__label">100% natural</p>
    <h2 class="section__title">products</h2>
    <ul class="products">
      <div>
      <li class="products__item products__item--icecream">
        <h3 class="products__title products__title--icecream">ice creem</h3>
        <p class="products__text">Soft ice cream with a delicate taste. Made with milk, cream, sugar and natural stabilizer</p>
      <button 
      class="products-btn"
      type="button"
      data-products-overlay-open
      ></button>
      <div class="overlay-box">
        <p class="products__overlay-text products__overlay--hidden"
        data-products-overlay
        >
        <b>Just imagine</b> <br />
        Our Ice Cream is as cold as your ex heart! Get dive into it!
        </p>
      </div>
      </li>
      <li class="products__item products__item--coffee">
        <h3 class="products__title products__title--coffee">ice koffee</h3>
        <p class="products__text">Fragrant invigorating drink created from 100% natural ingredients without the use of preservatives and flavor enhancers</p>
        <button 
        class="products-btn"
        type="button"
        data-products-overlay-open2
        ></button>
        <div class="overlay-box">
          <p 
          class="products__overlay-text products__overlay--hidden2
          data-products-overlay2"
          >
          <b>Be careful!</b> <br />
          All our clients gets coffee addiction and come over and over and over again!
        </p>
        </div>
      </li>
      <li class="products__item products__item--milkshake">
        <h3 class="products__title products__title--milkshake">milkshakes</h3> 
        <p class="products__text">Sweet drinks based on milk and ice cream, supplemented with syrups, fruits, berries and other sweets of your choice</p>
      <button 
      class="products-btn"
      type="button"
      data-products-overlay-open3
      ></button>
      <div class="overlay-box">
        <p 
        class="products__overlay-text products__overlay--hidden3
          data-products-overlay3"
          >
        <b>They're coming!</b> <br />
        Brand new toppings on our milkshakes will deliver yuo tonns of endorphines and dophamines. Extra weight you receive for free!
        Hurry up!
      </p>
      </div>
      </li>
    </ul>
    </div>
  </div>
</section>