.about {
    padding-top: 70px;
    padding-bottom: 42px;
    background-color: $main-color;

    @media screen and (min-width: $tablet) {
        margin-bottom: 53px
    }

    @media screen and (min-width: $desktop) {
        margin-bottom: 60px;
    }
}

.about__container {
    padding: 0 20px;
    margin: 0 auto;
    width: 100%;
    

    @media screen and (min-width: $mobile) {
        width: $mobile;
    }

    @media screen and (min-width: $tablet) {
        width: $tablet;
        padding: 0 30px;
    }

    @media screen and (min-width: $desktop) {
        width: $desktop;
        padding: 0 15px;
    }
}

.about__label {
    margin-bottom: 12px;

    @include font (700, 18px, 22px, 0em);

    color: $text-main-color;
    text-align: center;
    text-transform: uppercase;

    @media screen and (min-width: $tablet) {
        @include font (800, 22px, 27px, 0.04em);
    }

    @media screen and (min-width: $desktop) {
        @include font (800, 30px, 34px, 0.04em);
    }
}

.about__title {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 32px;
    width: 200px;

    @include font (400, 30px, 38px, 0.04em);

    font-family: 'Seymour One', sans-serif;
    color: $text-main-color;
    text-align: center;
    text-transform: uppercase;

    @media screen and (min-width: $tablet) {
        margin-bottom: 40px;
        width: 100%;

        @include font (400, 34px, 43px, 0.06em);
    }

    @media screen and (min-width: $desktop) {
        margin-bottom: 82px;

        @include font (400, 36px, 45px, 0.06em);
    }
}

.about__flex-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    @media screen and (min-width: $tablet) {
        flex-direction: row;
        align-items: flex-start;
    }

    @media screen and (min-width: $desktop) {
        align-items: center;
    }
}

.about__image-appearance {
    position: relative;
    background-color: $yellow-background;
    border-radius: 50%;

    @media screen and (max-width: calc($tablet - 1px)) {
        margin-bottom: 65px;
        width: 100%;
        min-width: 200px;
        min-height: 200px;
        max-width: 350px;
        max-height: 350px;

        &:after {
            content: "";
            padding-top: 100%;
            display: block;
        }
    }

    @media screen and (min-width: $tablet) {
        margin-right: 32px;
        width: 330px;
        height: 330px;
    }
    
    @media screen and (min-width: $desktop) {
        margin-right: 100px;
        width: 500px;
        height: 500px;
    }

}

.about__image {
    position: absolute;
    display: block;   
    border-radius: 50%;

    background-color: #9bd183;

    @media screen and (max-width: calc($tablet - 1px)) {
        top: 25px;
        left: 0px;

        margin-bottom: 40px;
        width: 100%;
        height: 100%;
    }

    @media screen and (min-width: $tablet) {
        top: 30px;
        left: 0px;

        width: 330px;
        height: 330px;
    }

    @media screen and (min-width: $desktop) {
        top: 40px;
        left: 0px;

        width: 490px;
        height: 490px;
    }
}

.about__text-flex-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    @media screen and (min-width: $tablet) {
        align-items: flex-start;
    }
}

.about__text {
    margin-bottom: 20px;
    
    @media screen and (max-width: calc($tablet - 1px)) {
        width: calc(100% - 60px);
    }

    @media screen and (min-width: $tablet) {
        width: 334px;
        margin-bottom: 48px;
    }

    @media screen and (min-width: $tablet) and (max-width: calc($desktop - 1px)) {
        padding-top: 39px;
    }

    @media screen and (min-width: $desktop) {
        width: 463px;
    }
}

.about__paragraph {
    @include font (400, 12px, 21px, 0.04em);
    
    @media screen and (max-width: calc($tablet - 1px)) {
        text-align: center;
    }

    @media screen and (min-width: $tablet) {
        text-align: left;
    }

    @media screen and (min-width: $desktop) {
        @include font (400, 14px, 27px, 0.04em);

        &:first-child {
            @include font (400, 16px, 28px, 0.04em);
        }
    }
    
    // margins between paragraphs
    &:not(:last-child) {
        margin-bottom: 4px;

        @media screen and (min-width: $tablet) {
            margin-bottom: 8px;
        }
    }

    // on mobile the last paragraph disapears   
    &--invisible {
        @media screen and (max-width: calc($tablet - 1px)) {
            display: none;
        }
    }
}

.about__button {
    display: flex;
    align-items: center;
}

.about__arrow {
    display: block;
    margin-left: 6px;
    fill: currentColor;
}

// _____animation

.pulsate-fwd:hover {
	-webkit-animation: pulsate-fwd 0.5s ease-in-out infinite both;
	        animation: pulsate-fwd 0.5s ease-in-out infinite both;
}

/* ----------------------------------------------
 * Generated by Animista on 2022-9-7 15:48:12
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation pulsate-fwd
 * ----------------------------------------
 */
 @-webkit-keyframes pulsate-fwd {
    0% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
    50% {
      -webkit-transform: scale(1.1);
              transform: scale(1.1);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }
  @keyframes pulsate-fwd {
    0% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
    50% {
      -webkit-transform: scale(1.1);
              transform: scale(1.1);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }
  