.reviews {
  background-image: url(../images/reviews/reviewsBackground_mobilex1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 186px;
  padding-bottom: 419px;

  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    & {
      background-image: url('../images/reviews/reviewsBackground_mobilex2.jpg');
    }
  }

  @media screen and (min-width: $tablet) {
    padding-top: 223px;
    padding-bottom: 428px;
    background-image: url(../images/reviews/reviewsBackground_tabletx1.jpg);

    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      & {
        background-image: url('../images/reviews/reviewsBackground_tabletx2.jpg');
      }
    }
  }

  @media screen and (min-width: $desktop) {
    padding-top: 456px;
    padding-bottom: 240px;
    background-image: url(../images/reviews/reviewsBackground_desktopx1.jpg);

    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      & {
        background-image: url('../images/reviews/reviewsBackground_desktopx2.jpg');
      }
    }
  }
}

.reviews__image {
  width: 85px;
  height: 85px;
  margin: auto auto;
  border-radius: 50%;
}

.reviews__text {
  text-align: center;
  color: $text-main-color;
  background: $main-color;
  border-radius: 10px;
  margin: 32px 0 30px 0;
  padding: 34px 39px;
  @include font(400, 12px, 31px, 0.04em);

  @media screen and (min-width: $tablet) {
    margin: 28px 0 32px 0;
    padding: 29px 80px;
    border-radius: 24px;
    @include font(500, 14px, 26px, 0.04em);
  }

  @media screen and (min-width: $desktop) {
    margin: 32px 0 32px 0;
    padding: 39px 109px;
    @include font(500, 16px, 30px, 0.04em);
  }
}

.reviews__contacts {
  text-align: center;
  color: #000000;
  @include font(500, 20px, 37px, 0.04em);

  margin-bottom: 14px;

  @media screen and (min-width: $tablet) {
    color: $text-second-color;
    @include font(500, 16px, 30px, 0.04em);

    margin-bottom: 32px;
  }
}
