.reviews {
  background-image: url(../images/reviews/reviewsBackground_mobilex1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 186px 0 419px 0;

  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    & {
      background-image: url('../images/reviews/reviewsBackground_mobilex2.jpg');
    }
  }

  @media screen and (min-width: $tablet) {
    padding: 223px 0 428px 0;
    background-image: url(../images/reviews/reviewsBackground_tabletx1.jpg);

    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      & {
        background-image: url('../images/reviews/reviewsBackground_tabletx2.jpg');
      }
    }
  }

  @media screen and (min-width: $desktop) {
    padding: 456px 0 240px 0;
    background-image: url(../images/reviews/reviewsBackground_desktopx1.jpg);

    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      & {
        background-image: url('../images/reviews/reviewsBackground_desktopx2.jpg');
      }
    }
  }
}

.reviews__image {
  width: 85px;
  height: 85px;
  margin: auto auto;
  border-radius: 50%;
}

.reviews__text {
  text-align: center;
  color: $text-main-color;
  background: $main-color;
  border-radius: 10px;
  margin: 32px 0 30px 0;
  padding: 34px 39px;
  @include font(400, 12px, 31px, 0.04em);

  @media screen and (min-width: $tablet) {
    margin: 28px 0 32px 0;
    padding: 29px 80px;
    border-radius: 24px;
    @include font(500, 14px, 26px, 0.04em);
  }

  @media screen and (min-width: $desktop) {
    max-width: 968px;
    margin: 32px auto 32px auto;
    padding: 39px 109px;
    @include font(500, 16px, 30px, 0.04em);
  }
}

.reviews__contacts {
  text-align: center;
  color: #000000;
  @include font(500, 20px, 37px, 0.04em);

  margin-bottom: 14px;

  @media screen and (min-width: $tablet) {
    color: $text-second-color;
    @include font(500, 16px, 30px, 0.04em);

    margin-bottom: 32px;
  }
}

.reviews__bullet .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  line-height: 0;
  font-size: 0;
  opacity: 1;
  background-color: #d9d9d9;
  &:hover,
  &:focus {
    transform: scale(1.25);
  }
}

.reviews__bullet .swiper-pagination-bullet-active {
  background-color: $main-color;
}

.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets
  .swiper-pagination-bullet:not(:last-child) {
  margin-right: 18px;
}

.reviews__bullet.swiper-pagination {
  position: static;
}
