.footer__section{
    width: auto;
    margin-bottom: 62px;
}
.footer__container{
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #E1E1E1;
    margin-bottom: 16px;
}
.footer-text{
    display: flex;
    flex-direction: column;
    width: 235px;
    margin-bottom: 42px;
}
.footer-text__first{
    @include font(700, 18px, 22px);
    text-transform: uppercase;
    color: #FCFCFC;
    margin-bottom: 16px;
}
.footer-text__second{
    @include font(700, 34px, 41px, 0.04em);
    text-transform: uppercase;
    color: #FCFCFC;
}
.footer-tel__text{
    @include font(700, 12px, 22px, );
    text-align: right;
    color: #131313;

}
.footer-tel__link{
    @include font(700, 12px, 22px, );
    // display: flex;
    text-align: right;
    color: #fcfcfc;
    // margin-left: auto;

}
.footer-social-tel{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.footer-copiright{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.footer-copiright__text{
    @include font(700, 14px, 21px, );
    
    text-align: center;
    color: #7A7A7A;
}
.social-footer{
    margin-bottom: 38px;
}
.social-footer__icon{
    width: 20px;
    height: 20px;
    fill: #fcfcfc;
}
.social-footer__list{
    @extend %list;
    display: flex;
    justify-content: space-between;
    width: 152px;
    height: 32px;
    margin-left: auto;
}
.social-footer__link{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: #f8d24e;
    
}
.link {
    text-decoration: none;
}
.footer-tel{
    display: flex;
    flex-direction: row-reverse;
    padding-bottom: 40px;
   
}



@media screen and (min-width: $mobile) {
    
}

@media screen and (min-width: $tablet) {
    .footer__container,
    .footer-copiright {
        flex-direction:row;
    }
    .footer__container{
        justify-content: space-between;
    }
}

@media screen and (min-width: $desktop) {
   
}