.gallery__container {
  position: relative;
  min-width: 279px;
  min-height: auto;
}

.gallery__img {
  min-width: 279px;
  min-height: auto;
  animation: slideshow 8s linear infinite;
  animation-fill-mode: forwards;
  position: absolute;
  opacity: 0;
  z-index: 79;
  left: 50%;
  top: 24px;
  transform: translate(-50%, -50%) scale(1);
  border-radius: 8px;

  @media screen and (min-width: $tablet){
    border-radius: 18px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(1);
  }

  @media screen and (min-width: $desktop){
    border-radius: 24px;
    left: 50%;
    top: 94px;
    transform: translate(-50%, -50%) scale(1);
  }
}

.gallery__img--1 {
  animation-delay: 0s;
}

.gallery__img--2 {
  
  animation-delay: 2s;
}

.gallery__img--3 {
  
  animation-delay: 4s;
}

.gallery__img--4 {
  
  animation-delay: 6s;
}


// анимация 

@keyframes slideshow {
  0% {
    opacity: 0;
  }
  
  20% { 
    opacity: 1;
    
   }

  80% {
    opacity: 1;
  } 

  100% { 
   opacity: 0;
  }
}
