.gallery__container {
  position: relative;
  width: 100vh;
  height: 100%;
}

.gallery__img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(1);
  z-index: 900;
  border-radius: 8px;

  @media screen and (min-width: $tablet){
    border-radius: 18px;
  }

  @media screen and (min-width: $desktop){
    border-radius: 24px;
  }
}