
.mobile-menu__list {
    @extend %list;
    margin-top: 100px;
    align-items: center;
    text-align: center;
    margin-bottom: 111px;
}

.mobile-menu__link {
    
    @include font (700, 32px, 39px, 0.04em);



    &:hover,
    &:focus {
    color: $text-second-color;
    }

    
}

// .button-hero--mobile {
//     display: block;
//     margin-bottom: 51px;
// }



.page-header-container {

    display: flex;
    align-items: center;
    padding: 0 20px;
    max-width: 480px;
    // justify-content: space-between;

  }

  .logo img {
    max-width: 100%;
    width: 40px;
    height: 37px;
    display: block;
   
  }

  .logo_mobile-menu img {
    max-width: 100%;
    width: 40px;
    height: 37px;
    display: block;
    z-index: 22;
  }


 

@media screen and  (max-width: 1199px) {

    .mobile-header {
        display: flex;
        align-items: center;
    }

    .menu {
        display: none;
      }


    

    .mobile-menu {
        
        position: fixed;
        width: 100%;
        height: 100%;
        z-index: 20;
        top: 0;
        left: 0;
        background-color: $main-color;

        overflow: hidden;

        opacity: 0;
        visibility: hidden;
        pointer-events: none;
               
        transform: translate(100%);
        
        // transition: transform 600ms ease-in-out, opacity 450ms $cubic-bezier;
        transition: transform 450ms cubic-bezier(0.4, 0, 0.2, 1), opacity 450ms cubic-bezier(0.4, 0, 0.2, 1);

}

    

    .mobile-menu.is-open {
        transform: translate(0);
        // transition: transform 450ms cubic-bezier(0.4, 0, 0.2, 1), opacity 450ms cubic-bezier(0.4, 0, 0.2, 1);
       
        opacity: 1;
        visibility: visible;
        pointer-events: auto;

    }
    
    .mobile-menu__container {
      
        // position: relative;
        padding: 12px 22px;
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 100%;
        overflow: auto;
        
        

        
    
    }


  
     
    
   
    
    .mobile-menu__item:not(:last-child) {
        margin-bottom: 32px;
    
    }
    
    
    .mobile-menu__close-btn {
        position: absolute;
        top: 16px;
        right: 20px;
    
      
        background-color: transparent;
        border: none;
        // padding: 12px;
        line-height: 0;
    
        width: 32px;
        height: 32px;

    
    
    
        
        
    }
    
    .mobile-menu__close-icon {
        fill: rgba(255, 255, 255, 1);
        transition: fill 250ms $cubic-bezier;
    
    
        &:hover,
        &:focus {
            fill: #000;
                    
            }
    }

   
    
   
    
    }


@media screen and (max-width: 767px) {
    .button-hero {
        display: none;
        
    }


    .page-header-container {
        padding: 12px 20px;
        justify-content: space-between;
        max-width: 100%;
    }


    .button-hero--mobile {
        margin-bottom: 51px;
        display: block;
        margin: 0 auto;

        width: 152px;
        height: 42px;
        border-radius: 10px;
        border: none;
        background-color: $accent-color;

        text-align: center;
        font-weight: 600;
        font-size: 14px;
        line-height: 1.21;
               

  transition: background-color 300ms $cubic-bezier;

  &:hover {
    background-color: $hover-color;
  }

  &:focus {
        font-weight: 600;
        font-size: 14px;
        line-height: 1.21;
    background-color: $hover-color;
  }

 
    }

}


// 0px - 1199px
@media screen and (min-width: 768px) {

    .header-left {
        display: flex;
        align-items: center;
    }


    .button-hero {
        margin-bottom: 51px;
        display: block;
        margin: 0 auto;

        width: 152px;
        height: 42px;
        border-radius: 10px;
        border: none;
        background-color: $accent-color;

        text-align: center;
        font-weight: 600;
        font-size: 14px;
        line-height: 1.21;


        

  transition: background-color 300ms $cubic-bezier;

  &:hover {
    background-color: $hover-color;
  }

  &:focus {
    font-weight: 600;
        font-size: 14px;
        line-height: 1.21;
    background-color: $hover-color;
  }

  &:disabled {
    background-color: $disabled-color;
  }
    }


    .logo img {
        max-width: 100%;
        width: 48px;
        height: 44px;
        display: block;
       
      }


    .logo_mobile-menu img {
        max-width: 100%;
        width: 48px;
        height: 44px;
        display: block;
        z-index: 22;
      }
    
      .mobile-header {
        display: flex;
        align-items: center;
    }


    // .button-hero--mobile {
    //     display: block;
    //     margin-bottom: 51px;
    // }

    .mobile-menu__container {
    
      display: block;
        padding: 20px 32px;
        
       
    
    }

    .mobile-menu__close-btn {
        // position: absolute;
        // top: 16px;
        // right: 20px;
    
      
        background-color: transparent;
        border: none;
        // padding: 18px;
        // margin-right: 26px;
           margin-top: 16px;
    }


    .button-hero--mobile {
        display: none;
    }


    .mobile-menu__list {
        margin-top: 140px;
        margin-bottom: 40px;
    }



    
    


   
     

    .mobile-menu__item:not(:last-child) {
        margin-bottom: 40px;
    
    }


    .mobile-menu__link {
    
        @include font (700, 48px, 59px, 0.04em);
    
    
    
        &:hover,
        &:focus {
        color: $text-second-color;
        }
    
        
        
    
    }

    .mobile-menu-open {

        margin-right: 38px;

    }


    .page-header-container {
        padding: 20px 32px;
        justify-content: space-between;
        width: 100%;
        max-width: 767px;
      
    }


   

    
       
  }


  // 0px - 1199px
@media screen and (min-width: 1200px) {

    

.mobile-menu {
    display: none;

}

.mobile-menu-open {

    display: none;
}

.page-header-container {
    position: relative;
    padding: 17px 16px;
    // justify-content: space-around;
    display: flex;
    justify-content: space-between;
    width: 1170px;
    padding: 0;


}

.container {
    max-width: 1170px;
}

.page-nav {
    display: flex;
}

.logo img {
    max-width: 100%;
    width: 60px;
    height: 65px;
    display: block;
    z-index: 22;
  }



.menu {
    display: flex;
    margin-top: 23px;
}

.menu__item:not(:last-child) {

    margin-right: 27px;

}

.menu__link {

    @include font (700, 16px, 20px, 0.04em);



    &:hover,
    &:focus {
        color: $text-hover;
                    
            }

}

.logo__img {
    width: 60px;
    height: 65px;
}

.logo {
    margin-right: 269px;
}

}

  .mobile-menu-open {
    background-color: transparent;
    border: none;
    padding: 0;
    line-height: 0;
    margin-right: 8px;

    width: 32px;
    height: 32px;
    

   
  }



  .menu {
    @extend %list;
}

   
  



   






