.network-list {
    @extend %list;
}


.title-btn__list {
    display: flex;
    @extend %list;
    align-items: center;
}

.btn-transparent {
    background-color: transparent;
    color: $accent-color;
    text-decoration:underline;
  
    transition: color 300ms $cubic-bezier;

  @media screen and (max-width: 1199px){
        font-weight: 600;
        font-size: 8px;
        line-height: 0.8;
  }

  &:hover {
        color: $hover-color;
  }

  &:focus {
        color: #FFFFFF;
        font-weight: 600;
        font-size: 8px;
        line-height: 1.22;
  }
  &:disabled {
    color: $disabled-color;
  }

  @media screen and (min-width: $desktop) {
    &:focus {
        font-weight: 600;
        font-size: 14px;
        line-height: 1.21;
    }
  }  
}

@media screen and (max-width: 767px) {
    .hero {
        height: 550px;
        
        width: 100%;
        position: relative;
        background-image: url('../images/hero/point-mobile.png');
        background-repeat: no-repeat;
        background-size: contain;
        background-position: bottom;
    }

    .hero-container {
        max-width: 460px;
        height: 502px;
        padding-top: 70px;
        margin-left: auto;
        margin-right: auto;
    }


    .ice {
        position: absolute;
        width: 280px;
        height: 100%;
        background-repeat: no-repeat;
        background-size: auto;
        background-image: url('../images/hero/ice-cream-mobile.png');
        background-position: left 69px top 58px;
        filter: drop-shadow(0 0 70px rgba(252, 252, 252, 0.44));
        z-index: 10;
        // margin-top: 60px;
    }

    .big-ice {
        // position: absolute;
        // width: 270px;
        // height: 100%;
        // background-repeat: no-repeat;
        // background-size: auto;
        // background-image: url('../images/hero/ice-cream-mobile.png');
        // background-position: left 53px top 80px;
        // filter: drop-shadow(0 0 100px rgba(252, 252, 252, 0.44));
        // z-index: 10;
        ////////////////////////Anamation-big-ice/////////////////////
        // animation-name: blinker;
        // animation-iteration-count: 4;
        // animation-timing-function: $cubic-bezier;
        // animation-duration: 600ms;
    }
        // @keyframes blinker {
        //     from { opacity: 1.0; }
        //     to { opacity: 0.0; }
        //   }

    .face-img {
        background-repeat: no-repeat;
        background-size: auto;
        background-image: url('../images/hero/face-yellow-mobile.png'), url('../images/hero/face-green-mobile.png'), url('../images/hero/face-pink-mobile.png');
    
        background-position: 41% 24%, 72% 16%, 75% 34%;
        z-index: 15;
        width: 270px;
        height: 500px;
        position: absolute;
    }

    .title {
        font-family: 'Seymour One';
        font-style: normal;
        text-transform: uppercase;
        color: $text-main-color;
    
        margin-top: 58px;
        margin-bottom: 32px;
        width: 247px;
    }

    .title-small-fonts {
        @include font (400, 26px, 33px, 0.04em);
    }
    
    .title-big-fonts {
        @include font (400, 34px, 33px, 0.04em);
    }
    
    .hero-description {
        display: none;
    }
    .hero-description__btn {
        display: none;
    }
    
    .network-list {
        display: none;
    }
    
    .title-btn__item {
        margin-right: 8px;
    }
}

@media screen and (min-width: 768px) {
    .hero {
        position: relative;
        height: 465px;
        width: 100%;
        background-repeat: no-repeat;
        background-image: url('../images/hero/point-tablet.png');
        background-size: contain;
        background-position: bottom; 
        padding-top: 63px;       
    }
      
    .hero-container {
        width: 100%;
        height: 385px;
        display: flex;
    }
    
    .hero-left-side {
        width: 50%;
    }
    
    .hero-right-side {
        display: flex;
        width: 50%;
        justify-content: flex-end;
    }

    .ice {
        position: absolute;
        width: 50%;
        height: 100%;
        background-repeat: no-repeat;
        background-size: auto;
        background-image: url('../images/hero/ice-cream-tablet.png');
        background-position: left 68px top 18px;
        filter: drop-shadow(0 0 50px rgba(252, 252, 252, 0.44));
        z-index: 10;
        margin-top: 60px;
    }
    
    .big-ice {
        // position: absolute;
        // // bottom: 0;
        // // right: 0;
        // width: 350px;
        // height: 100%;
        // background-repeat: no-repeat;
        // background-size: auto;
        // background-image: url('../images/hero/ice-cream-tablet.png');
        // background-position: left 23px top 62px;
        // filter: drop-shadow(0 0 100px rgba(252, 252, 252, 0.44));
        // z-index: 10;
    
        ////////////////////////Anamation-big-ice/////////////////////
    //     animation-name: blinker;
    //     animation-iteration-count: 4;
    //     animation-timing-function: $cubic-bezier;
    //     animation-duration: 600ms;
    }
    // @keyframes blinker {
    //     from { opacity: 1.0; }
    //     to { opacity: 0.0; }
    //   }
    
    .face-img {
        position: absolute;
        background-repeat: no-repeat;
        background-size: auto;
        background-image: url('../images/hero/face-yellow-tablet.png'), url('../images/hero/face-green-tablet.png'), url('../images/hero/face-pink-tablet.png');
    
        background-position: left 52% top 20%, left 107% top 5%, left 112% top 36%;
        z-index: 15;
        width: 300px;
        height: 500px;
    }
    
    .title {
        font-family: 'Seymour One';
        font-style: normal;
        text-transform: uppercase;
        color: $text-main-color;
    
        margin-top: 36px;
        margin-bottom: 20px;
    
        width: 181px;
    }

    .title-small-fonts {
        @include font (400, 18px, 23px, 0.04em);
    }
    
    .title-big-fonts {
        @include font (400, 24px, 13px, 0.04em);
    }
    
    .network-list {
        width: 46px;
        margin-top: 26px;
    }
    
    .network-list__item {
        margin-bottom: 20px;
    }
    
    .network-list__total{
        font-family: 'Montserrat';
        @include font (900, 28px, 34px, 0.04em);
        text-align: right;
        text-transform: uppercase;
        color: #000000;
        margin-bottom: 4px;
    }
    
    .network-list__text {
        display: flex;
        justify-content: flex-end;
    
        font-weight: 400;
        font-size: 8px;
        line-height: 10px;
        text-align: right;
        color: #FFFFFF;
    }
    
    .title-btn__item {
        margin-right: 8px;
        margin-bottom: 28px;
    }
    
    .btn-border {
        background-color: transparent;
        border: 2px solid $accent-color;
    
        text-align: center;
    
        transition: border 300ms $cubic-bezier;
    
      &:hover {
        border: 2px solid $hover-color;
      }
    
      &:focus {
            font-weight: 600;
            font-size: 11px;
            line-height: 1.22;
            border: 2px solid $hover-color;
      }
    
      &:disabled {
        border: 2px solid $disabled-color;
      }
    
            padding: 4px 9px;
            border-radius: 8px;
            font-weight: 600;
            font-size: 8px;
            line-height: 1.25;
    }
    
    .plate-ice {
        width: 100%;
        height: 170px;
        position: relative;
        background-position: left 30px;
        margin-right: 7px;   
    }
    
    .plate-ice__img {
        background-image: url('../images/hero/plate-ice-tablet.png');
        background-size: auto;
        background-repeat: no-repeat;
    
        background-position: left 4px top 18px;
        position: absolute;
        width: 100%;
        height: 172px;
    
        /////////////////Animation plate///////////////////
    
    
    //     animation-name: rot;
    //     animation-duration: 600ms;
    //     animation-direction: alternate;
    //     animation-timing-function: $cubic-bezier;
    //     animation-iteration-count: 4;
    }
    // @keyframes rot {
    //     0% {
    //       transform: rotate(0deg);
    //     }
    //     50% {
    //         transform: rotate(360deg);
    //     }
    //     100% {
    //       transform: rotate(0deg);
    //     }
    //   }
    
    .hero-description {
        display: flex;
        justify-content: space-between;
    }
    
    .hero-description__block {
    
        width: 322px;
        height: 85px;
        margin-top: 41px;
        margin-bottom: 20px;
        margin-left: 190px;
    }
    
    .hero-description__text {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 17px;
       
        color: #FFFFFF;
        margin-bottom: 10px;
        width: 151px;
        height: 85px;   
    }
    
    .hero-description__btn {
        background-color: transparent;
    }
    
    .hero-description__btn-icon {
        background-color: transparent;
        fill: #FFFFFF;
    }
    
    .title-btn__link--left {
        width: 62px;
        height: 24px;
    
        &:focus {
    
            color: #FFFFFF;
            font-size: 8px;
        }
    }
    
    .title-btn__link--right {
        width: 82px;
        height: 24px;
    
        &:focus {
            color: #FFFFFF;
            font-size: 8px;
        }
    }
}


@media screen and (min-width: 1200px) {
    .hero {
        position: relative;
        height: 715px;
        width: 1200px;

        background-repeat: no-repeat;
        background-image: url('../images/hero/point-desktop.png');
        background-size: contain;
        background-position: bottom;        
        margin: 0 auto;

        padding-top: 75px;
        }

        .hero-container {
            
            display: flex;
            justify-content: space-between;
            height: 715px;

            padding: 0 17px;
            max-width: 1200px;
        }


        .ice {
            position: absolute;
            width: 50%;
            height: 100%;
            background-repeat: no-repeat;
            background-size: auto;
            background-image: url('../images/hero/ice-cream-desktop.png');
            background-position: left 74px top 19px;
            filter: drop-shadow(0 0 50px rgba(252, 252, 252, 0.44));
            z-index: 10;
            margin-top: 60px;
        }

        .big-ice {
            // position: absolute;
            // width: 50%;
            // height: 100%;
            // background-repeat: no-repeat;
            // background-size: auto;
            // background-image: url('../images/hero/ice-cream-desktop.png');
            // background-position: left 0 top 0;
            // filter: drop-shadow(0 0 100px rgba(252, 252, 252, 0.44));
            // z-index: 10;

        // ////////////////////////Anamation-big-ice/////////////////////
        // animation-name: blinker;
        // animation-iteration-count: 4;
        // animation-timing-function: $cubic-bezier;
        // animation-duration: 600ms;
        }

    // @keyframes blinker {
    //     from { opacity: 1.0; }
    //     to { opacity: 0.0; }
    //     }

    .hero-left-side {
        width: 50%;
    }
    
    .hero-right-side {
        display: flex;
        width: 50%;
        justify-content: flex-end;
        margin: 0;
    }

   .face-img {
        background-repeat: no-repeat;
        background-size: auto;
        background-image: url('../images/hero/face-yellow-desktop.png'), 
            url('../images/hero/face-green-desktop.png'), 
            url('../images/hero/face-pink-desktop.png');
        background-position: left 46% top 41%, left 112% top 5%, left 120% top 80%;
        z-index: 15;
        width: 472px;
        height: 500px;
        position: absolute;
    }

    .title {
        margin-top: 41px;
        margin-bottom: 28px;
        width: 367px;
    }
                
    .title-small-fonts {
        @include font (400, 38px, 48px, 0.04em);
    }
        
    .title-big-fonts {
        @include font (400, 38px, 48px, 0.04em);
    }

    .network-list {
        width: 79px;
        margin-top: 56px;
    }

    .network-list__item {
        margin-bottom: 37px;
    }

    .network-list__total{
        font-family: 'Montserrat';
        @include font (900, 46px, 56px, 0.04em);
    
        text-align: right;
        text-transform: uppercase;
    
         color: #000000;
         margin-bottom: 4px;
    }

    .network-list__text {
        display: flex;
        justify-content: flex-end;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        /* identical to box height */
        text-align: right;
        color: #FFFFFF;
    }

    .title-btn__item {
        text-align: center;
        margin-right: 34px;
        margin-bottom: 42px;
    }

    .plate-ice {
        width: 100%;
        height: 225px;
        position: relative;
        background-position: left 30px;
        margin-right: 14px;                    
    }

    .plate-ice__img {
        background-image: url('../images/hero/plate-ice-desktop.png');
        background-size: auto;
        background-repeat: no-repeat;
        background-position: left 0 top 52px;
        position: absolute;
        width: 270px;
        height: 270px;
        ////////////////////Animation plate//////////////
        // animation-name: rot;
        // animation-duration: 600ms;
        // animation-direction: alternate;
        // animation-iteration-count: 4;
        // animation-timing-function: $cubic-bezie
        // transform-origin:50%;
        // animation: 600ms rot  linear;
        // animation-iteration-count: 4;
        // animation-timing-function: $cubic-bezier;
    }
        // @keyframes rot {
        //     0% {
        //       transform: rotate(0deg);
        //     }
        //     50% {
        //         transform: rotate(360deg);
        //     }
        //     100% {
        //       transform: rotate(0deg);
        //     }
        //   }

    .hero-description {
        display: flex;
        justify-content: space-between;
    }

    .hero-description__block {
        width: 200px;
        height: 80px;
        margin-top: 126px;
        margin-bottom: 20px;     
        margin-left: 245px;              
    }

    .hero-description__text {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 19px;
        // line-height: 140%;
        /* or 17px */
        color: #FFFFFF;
        margin-bottom: 32px;
        width: 200px;
        height: 80px;

        
    }

    .hero-left-side {
        width: 440px;
    }

    .title-btn__link--left {
        display: block;
        width: 134px;   
        height: 42px;
        padding: 12px 32px;
        @include font (600, 14px, 18px, normal);

        &:focus {
            color: #FFFFFF;
            font-size: 14px;
        }
    }

    .title-btn__link--right {
        display: block;
        width: 129px;   
        height: 42px;
        @include font (600, 14px, 17px, 0.02em);

        &:focus {
            color: #FFFFFF;
        }
    }            
}

.btn-hero {
    text-align: center;
    color: $accent-color;
    text-decoration:underline;
    @include font (600, 8px, 10px);
    padding: 0 0 0 8px;
    text-align: center;
    
    transition: color 300ms $cubic-bezier;
  
     &:hover {
      color: $hover-color;
    }
    &:focus {
      color: $text-main-color;
    }
    &:disabled {
      color: $disabled-color;
    }

    @media screen and (min-width: $desktop) {
        @include font (600, 14px, 17px);
        padding: 0;
    }
}

// +++++++ANIMATION
// ____________titel animation

.title:hover .text-shadow-pop-tl {
    -webkit-animation: text-shadow-pop-tl 400ms both;
            animation: text-shadow-pop-tl 400ms both;
            transition: text-shadow-pop-tl 250ms linear;
}

/* ----------------------------------------------
 * Generated by Animista on 2022-9-7 12:14:12
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation text-shadow-pop-tl
 * ----------------------------------------
 */
 @-webkit-keyframes text-shadow-pop-tl {
    0% {
      text-shadow: 0 0 $hover-color, 0 0 $hover-color, 0 0 $hover-color, 0 0 $hover-color, 0 0 $hover-color, 0 0 $hover-color, 0 0 $hover-color, 0 0 $hover-color;
      -webkit-transform: translateX(0) translateY(0);
              transform: translateX(0) translateY(0);
    }
    100% {
      text-shadow: -1px -1px $hover-color, -2px -2px $hover-color, -3px -3px $hover-color, -4px -4px $hover-color, -5px -5px $hover-color, -6px -6px $hover-color, -7px -7px $hover-color, -8px -8px $hover-color;
      -webkit-transform: translateX(8px) translateY(8px);
              transform: translateX(8px) translateY(8px);
    }
  }
  @keyframes text-shadow-pop-tl {
    0% {
      text-shadow: 0 0 $hover-color, 0 0 $hover-color, 0 0 $hover-color, 0 0 $hover-color, 0 0 $hover-color, 0 0 $hover-color, 0 0 $hover-color, 0 0 $hover-color;
      -webkit-transform: translateX(0) translateY(0);
              transform: translateX(0) translateY(0);
    }
    100% {
      text-shadow: -1px -1px $hover-color, -2px -2px $hover-color, -3px -3px $hover-color, -4px -4px $hover-color, -5px -5px $hover-color, -6px -6px $hover-color, -7px -7px $hover-color, -8px -8px $hover-color;
      -webkit-transform: translateX(8px) translateY(8px);
              transform: translateX(8px) translateY(8px);
    }
  }
  

  .kenburns-top:hover {
	-webkit-animation: kenburns-top 500ms ease-out both;
	        animation: kenburns-top 500ms ease-out both;
}

/* ----------------------------------------------
 * Generated by Animista on 2022-9-7 15:28:20
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation kenburns-top
 * ----------------------------------------
 */
 @-webkit-keyframes kenburns-top {
    0% {
      -webkit-transform: scale(1) translateY(0);
              transform: scale(1) translateY(0);
      -webkit-transform-origin: 10% 16%;
              transform-origin: 10% 16%;
    }
    100% {
      -webkit-transform: scale(1.1) translateY(-53px);
              transform: scale(1.1) translateY(-53px);
      -webkit-transform-origin: top;
              transform-origin: top;
    }
  }
  @keyframes kenburns-top {
    0% {
      -webkit-transform: scale(1) translateY(0);
              transform: scale(1) translateY(0);
      -webkit-transform-origin: 10% 16%;
              transform-origin: 10% 16%;
    }
    100% {
      -webkit-transform: scale(1.1) translateY(-53px);
              transform: scale(1.1) translateY(-53px);
      -webkit-transform-origin: top;
              transform-origin: top;
    }
  }
  

//   _____тарелка

.rotate-center:hover {
	-webkit-animation: rotate-center 0.6s ease-in-out both;
	        animation: rotate-center 0.6s ease-in-out both;
}

/* ----------------------------------------------
 * Generated by Animista on 2022-9-7 15:37:54
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation rotate-center
 * ----------------------------------------
 */
 @-webkit-keyframes rotate-center {
    0% {
      -webkit-transform: rotate(0);
              transform: rotate(0);
    }
    100% {
      -webkit-transform: rotate(360deg);
              transform: rotate(360deg);
    }
  }
  @keyframes rotate-center {
    0% {
      -webkit-transform: rotate(0);
              transform: rotate(0);
    }
    100% {
      -webkit-transform: rotate(360deg);
              transform: rotate(360deg);
    }
  }
  
  