.container {
  padding: 0 20px;
  margin: auto;
  width: auto;

  @media screen and (min-width: $mobile) {
    width: $mobile;
  }

  @media screen and (min-width: $tablet) {
    width: $tablet;
    padding: 0 30px;
  }

  @media screen and (min-width: $desktop) {
    width: $desktop;
    padding: 0 15px;
  }
}
